:root {
  --orange: #e88239;
  --darkgreen: #023a20;
  --error: #d43212;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
}
$primary: #e88239;
$secondary: rgba(10, 10, 10, 0.842);

//全站字體
.fontMing {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
//全站按鈕
.btnMing {
  background-color: var(--orange);
  font-size: 20px;
  height: 50px;
  max-width: 330px;
  border-radius: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  @media (max-width: 991px) {
    width: 220px;
  }
  &:hover {
    color: #fff;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      #e47b31;
  }
}
.btn2Ming {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  &:hover {
    color: #000;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      rgba(228, 228, 228, 0.5);
  }
}
//結構流程
.stepWrapMing {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  .stepMing {
    margin: 0 10px;
    .ballMing {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 1px solid var(--gray5);
      margin: 0 auto;
    }
    .activeMing {
      background-color: var(--darkgreen);
      color: white;
    }
    .gray4Ming {
      color: var(--gray4);
    }
  }
  .bottomLineMing {
    height: 25px;
    width: 75px;
    border-bottom: 1px solid var(--gray2);
    @media (max-width: 991px) {
      display: none;
    }
  }
}
//頁面共用CSS
.borderMing {
  border-bottom: 1px solid var(--gray4);
  margin-bottom: 15px;
}
.fz20Ming {
  font-size: 20px;
  @media (max-width: 991px) {
    font-size: 16px;
  }
}
.fz16Ming {
  font-size: 16px;
  @media (max-width: 991px) {
    font-size: 14px;
  }
}
.mb100Ming {
  margin-bottom: 100px;
}
.q1Ming :hover {
  color: red;
}
.mb16Ming {
  margin-bottom: 16px;
}
.separateLineMing {
  max-width: 690px;
  border-top: 1px solid var(--gray4);
  margin: 0 auto;
}
.starMing {
  color: #ff6600;
}
.calculate2Ming {
  max-width: 690px;
  margin: 20px auto 0;
}
.qesIconMing {
  color: $secondary;
}
.mb55Ming {
  margin-bottom: 55px;
  @media (max-width: 991px) {
    margin-bottom: 5px;
  }
}
//----------------------------------------------------EmptyCart----------------------------------------------------
.emptyMing {
  display: flex;
  justify-content: center;
  margin: 250px 0;
  gap: 1.5rem;
  flex-wrap: wrap;
  .noProductMing {
    font-size: 32px;
    font-weight: bold;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
}
//----------------------------------------------------ShopList----------------------------------------------------
.itemListMing {
  margin-bottom: 20px;
  padding-bottom: 20px;
  @media (max-width: 991px) {
    margin: 60px auto 0;
  }
}
.cartTitleMing {
  margin-top: 100px;
}
.subTotalMing,
.unitPriceMing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.productImgMing {
  width: 180px;
  height: 180px;
  margin: auto 0;
  img {
    width: 100%;
  }
  @media (max-width: 991px) {
    width: 80px;
    height: 80px;
  }
}
.productDetailMargin {
  margin-left: 24px;
  @media (max-width: 991px) {
    margin-left: 8px;
  }
}
.trashCanMing:hover {
  color: red;
  cursor: pointer;
}
.amount_input_Ming {
  width: 45px;
  height: 28px;
  padding: 0px;
  @media (max-width: 991px) {
    height: 23px;
  }
}
.w70Ming {
  width: 70%;
  @media (max-width: 991px) {
    width: 85%;
  }
}
.w15Ming {
  width: 15%;
  @media (max-width: 991px) {
    width: 20%;
  }
}
.discountBoxMing,
.freeShipBoxMing {
  height: 50px;
  width: 140px;
  // border: 1px solid $team-success;
  // color: $team-success;
  line-height: 50px;
  text-align: center;
}
.conditionMing {
  color: var(--gray4);
}
.p15Ming {
  padding-left: 15px;
}
//----------------------------------------------------CheckOut----------------------------------------------------
.unfoldBtnMing {
  font-size: 16px;
  width: 205px;
  background-color: #f6c327;
  text-align: center;
}
.formLabelMing {
  margin: 5px 0 15px 35px;
  font-size: 20px;
  @media (max-width: 991px) {
    margin: 5px 0 15px 0;
    font-size: 14px;
  }
}
.formInputMing {
  margin: 0 15px 0 35px;
  @media (max-width: 991px) {
    margin: 0;
    font-size: 14px;
  }
}
.checkMing {
  margin: 15px 15px 15px 35px;
  width: auto;
  @media (max-width: 991px) {
    margin-left: 0;
  }
}
.formTitleMing {
  margin-top: 55px;
  margin-left: 35px;
  border-bottom: 1px dotted var(--orange);
  padding-bottom: 10px;
  width: 100%;
  @media (max-width: 991px) {
    margin-left: 0;
    font-size: 16px;
  }
}
.consigneeTitleMing {
  margin: 11px 0px;
}
.orderMing {
  order: 2;
  @media (max-width: 991px) {
    order: -1;
  }
}
.abstractMing {
  margin-top: 53px;
}
.pretty-select-Ming {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*改變下拉選單箭頭樣式*/
  background: url('../../pages/carts/img/arrow.png') no-repeat right center
    transparent;
}
.consigneeMing {
  margin-bottom: 40px;
}
//----------------------------------------FinishOrder----------------------------------------//
.thankTitleMing {
  // border: 1px solid var(--gray4);
  border-radius: 4px;
  margin: 10px 1px 0 1px;
  cursor: pointer;
  .thankMing {
    font-size: 32px;
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .orderNumberMing {
    line-height: 24px;
    height: 24px;
    font-size: 24px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    .goDownMing {
      animation: goDown 1.5s linear infinite alternate both;
    }
  }
}

@keyframes goDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.buyListTitleMing {
  margin: 5px 1px 0px 1px;
  padding-bottom: 15px;
}
.buyItemMing {
  border-bottom: 1px solid var(--gray4);
  margin: 5px 1px 0 1px;
  // border-radius: 4px;
}

.width20Ming {
  width: 20%;
}
.widthLeftMing {
  width: 40%;
  @media (max-width: 991px) {
    .widthLeftMing {
      width: 80%;
    }
  }
}
.widthRightMing {
  width: 20%;
}
.orderInfoMing {
  border-bottom: 1px solid var(--gray4);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.infoTitleMing {
  width: 25%;
  text-align: right;
  font-size: 16px;
  padding: 2px 0;
  @media (max-width: 991px) {
    text-align: left;
    font-size: 14px;
  }
}
.infoContentMing {
  margin-left: 30px;
  width: 75%;
  font-size: 16px;
  padding: 2px 0 2px 5px;
  @media (max-width: 991px) {
    font-size: 14px;
  }
}
.btnToIndexMing {
  background-color: var(--orange);
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 20px;
  height: 50px;
  max-width: 180px;
  border-radius: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      #e47b31;
  }
}
//蓋掉手風琴的灰色邊界
.bNoneMing {
  border: none;
}

.ming_spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 240, 240, 1);
  z-index: 10;
}

.swal2-actions .swal2-confirm {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  background-color: #fff !important;
  color: #000;
  border: 1px solid #000;
}
.swal2-actions .swal2-confirm:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    rgba(228, 228, 228, 0.5) !important;
}
.swal2-actions .swal2-cancel {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  border: 1px solid #e47b31;
}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #e47b31;
}
.swal2-styled.swal2-default-outline:focus {
  box-shadow: none;
}
