.meetUp_section {
  width: 650px;
  margin-bottom: 90px;

  @media (max-width: 992px) {
    width: 330px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  // border-bottom: 1px solid #c4c4c4;

  & .meetUp_section_bg {
    border-bottom: 1px solid #c4c4c4;
  }
  & .meetUp_section_top {
    font-size: 1.5rem;
  }
  & .cusor {
    cursor: pointer;
  }
  & .cardSection {
    height: 662px;
    @media (max-width: 992px) {
      height: 100%;
    }
  }
  & .pageNumber {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 992px) {
      justify-content: center;
      margin: 50px 0px;
    }
  }
  & .pageActive {
    background-color: #e88239;
    color: #fff;
  }
  & .HostLink {
    color: #ffff;
  }
}
